body {
  margin: 0px;
  height: 100vh;
  background-color: white;
  h1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

/* ThemeDark: https://colorhunt.co/palette/00000052057b892cdcbc6ff1  */
/*
ThemeLight: 
overall background: white, 
header: #a4bab7,
text: #080f0f
*/
